---
import ContactForm from "@/components/ContactForm.vue";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="お問い合わせ"
  description="大阪大学合気道部へのお問い合わせフォームです。"
>
  <div class="mb-4" transition:name="contact-cta">
    <h1 class="h1">お問い合わせ</h1>
    <p class="fg-base mt-2">
      見学・体験・入部に関するご質問など、お気軽にご連絡ください。
    </p>
    <p class="mt-2 fg-base">
      <a href="https://marshmallow-qa.com/8f2ofku54h476je" class="link">
        マシュマロ
      </a>
      では匿名質問も受け付けています！<br />
      <span>
        よくある質問は<a href="/faq" class="link">こちら</a>から。
      </span>
    </p>
  </div>

  <ContactForm client:only="vue" />
</Layout>
