---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="よくある質問" description="">
  <center>
    準備中
    <div class="i-ri:loader-2-fill animate-spin" aria-hidden></div>
  </center>
</Layout>
