---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="コンポーネント"
  description="大阪大学合気道部が使用するコンポーネントなど"
>
  <grid class="grid-cols-2 gap-2">
    <section>
      <h1 class="h1">H1</h1>
      <h2 class="h2">H2</h2>
      <h3 class="h3">H3</h3>
      <h4 class="h4">H4</h4>
      <p>
        This is a <span class="fg-accent">paragraph</span>. <mark>Marked</mark>
      </p>
    </section>
    <card>
      <stack>
        <p>stack in card</p>
        <button class="accent" onclick="window.alert('clicked')">ボタン</button>
        <row>
          <button class="muted px-4">第2ボタン</button>
          <button disabled class="px-4">無効ボタン</button>
        </row>
      </stack>
    </card>
    <section class="grid">
      <stack class="center">
        <p>Cente</p>
        <div class="i-ri:align-item-horizontal-center-fill" aria-hidden="true">
        </div>
      </stack>
      <stack class="start">
        <p>Start</p>
        <div class="i-ri:align-item-left-fill" aria-hidden="true"></div>
      </stack>
      <stack class="end">
        <p>End</p>
        <div class="i-ri:align-item-right-fill" aria-hidden="true"></div>
      </stack>
    </section>
  </grid>
</Layout>
