---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description?: string;
}>;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description ?? ""}>
  <div class="">
    <article
      aria-label="Article content"
      class={[
        `container`,
        `prose dark:prose-invert`,
        `prose-p:(m-0)`,
        `prose-ul:(m-0 list-none p-0) prose-li:(before:content-["◆"] before:mr-2 before:fg-muted)`,
        `prose-a:(underline underline-offset-4 underline-sky-600 dark:underline-sky-500)`,
      ].join(" ")}
    >
      <slot />
    </article>
  </div>
</Layout>
