---
import CalendarGrid from "@/components/CalendarGrid.vue";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="稽古予定" description="今後の稽古予定">
  <section class="mx-4 max-w-4xl mx-auto min-h-60dvh">
    <div class="mb-6" transition:name="calendar-head">
      <h1 class="h1">稽古予定</h1>
    </div>

    <CalendarGrid client:load />
  </section>
  <section class="mx-4 max-w-4xl mx-auto print:hidden">
    <p class="text-right mt-4">
      <a href="/calendar" class="text-lg link">リスト表示</a>
    </p>
    <div
      id="google-calendar-navigation"
      class="card mt-4 flex items-start gap-3"
    >
      <center>
        <p>
          <a
            href="https://calendar.google.com/calendar/embed?src=aikido.omu%40gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
          >
            Googleカレンダー
          </a>
          では過去の稽古や1ヶ月以上先の稽古予定も確認できます。
        </p>
      </center>
    </div>
  </section>
</Layout>
