---
import CalendarView from "@/components/component/calendarView.vue"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="稽古予定" description="今後の稽古予定">
  {/* Header Section */}
  <div class="mb-8">
    <h1 class="mb-4 text-3xl font-bold text-heading">
      稽古予定
    </h1>
  </div>
  <CalendarView client:load />

  <div
    id="google-calendar-navigation"
    class="flex-inline items-center mt-4"
  >
    <div class="i-heroicons:information-circle-20-solid w-8" />
    <p class="text-body">
      <a
        href="https://calendar.google.com/calendar/embed?src=new.ocuaikido%40gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="link-brand"
      >
        Googleカレンダー</a>では過去の稽古や１ヶ月以上先の稽古予定も確認できます。
      <span/>
    </p>
  </div>
</Layout>
