---
import ContactForm from "../components/component/contactForm.vue";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="お問い合わせ" description="大阪大学合気道部へのお問い合わせフォームです。">
  <section class="px-6 py-8">
    <div class="">
      <h1
        class="text-3xl font-bold text-neutral-900 dark:text-neutral-100"
      >
        お問い合わせ
      </h1>
    </div>

    <ContactForm client:only="vue" />
  </section>
</Layout>
