---

---

<footer class="container-page mt-4 text-center text-sm text-body">
  <p class="leading-relaxed">
    <span>&COPY; OMU Aikido Club All Rights Reserved.</span>
    <br />
    <span>〒599-8531 大阪府堺市中区学園町1番1号 大阪公立大学合氣道部</span>
  </p>

  <p class="mt-3">
    <a href="/privacy-policy" un-link> プライバシーポリシー </a>
    <span>&ThickSpace;</span>
    <a href="/terms-of-service" un-link> 利用規約 </a>
  </p>

  <div class="mx-auto mt-8 flex max-w-60 items-center justify-between text-2xl">
    <a
      href="https://twitter.com/fudaiaiki"
      aria-label="旧府大合氣道部 Twitter"
      class="transition hover:text-brand-600"
      target="_blank"
      rel="noopener noreferrer"
      un-i-ri:twitter-fill
    >
      旧府大Twitter
    </a>
    <a
      href="https://instagram.com/hamudaiaikidoubu"
      aria-label="Instagram"
      class="transition hover:text-brand-600"
      target="_blank"
      rel="noopener noreferrer"
      un-i-ri:instagram-fill
    >
      Instagram
    </a>
    <a
      href="https://github.com/omu-aikido"
      aria-label="GitHub"
      class="transition hover:text-brand-600"
      target="_blank"
      rel="noopener noreferrer"
      un-i-ri:github-fill
    >
      GitHub
    </a>
  </div>
</footer>
