---
import Sidebar from "./sidebar.astro";
import favicon from "../../public/favicon.svg";
import { Image } from "astro:assets";
---

<header
  class="container-page pt-4 flex flex-row sticky top-0 backdrop-blur-3xl z-100 items-center justify-between pb-2"
>
  <nav un-text-2xl un-font-bold>
    <a
      href="/"
      aria-label="トップへ"
      transition:name="site-logo"
      transition:persist
    >
      <Image
        src={favicon}
        class="h-10 w-auto rounded-full p-1 transition hover:bg-zinc-200 dark:hover:bg-zinc-800"
        loading="eager"
        alt=""
      />
    </a>
  </nav>
  <Sidebar />
</header>
