---
import Sidebar from "./Sidebar.astro";
import favicon from "../../public/favicon.svg";
import { Image } from "astro:assets";
---

<header class="backdrop-blur-3xl w-full sticky top-0 z-100 pb-2 print:hidden">
  <div
    class="max-w-5xl mx-auto pt-4 pb-6 px-4 flex flex-row items-center justify-between"
  >
    <nav class="text-2xl font-bold">
      <a
        href="/"
        aria-label="トップへ"
        transition:name="site-logo"
        transition:persist
      >
        <Image
          src={favicon}
          class="h-10 w-auto rounded-full p-1 transition"
          loading="eager"
          alt="大阪公立大学合氣道部"
        />
      </a>
    </nav>
    <Sidebar />
  </div>
</header>
