---
interface Item {
  year: string;
  description: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<dl class="space-y-4">
  {
    items.map((item) => (
      <div>
        <dt class="text-sm font-bold fg-base">{item.year}</dt>
        <dd class="mt-1 fg-muted leading-relaxed">{item.description}</dd>
      </div>
    ))
  }
</dl>
