---
interface Item {
  label: string;
  value: string | string[];
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<dl class="space-y-4">
  {
    items.map((item) => (
      <div>
        <dt class="text-sm font-bold fg-base">{item.label}</dt>
        <dd class="text-base fg-base m-0 leading-relaxed">
          {typeof item.value === "string" ? (
            item.value
          ) : (
            <>
              {item.value.map((line, i) => (
                <span class="block">{line}</span>
              ))}
            </>
          )}
        </dd>
      </div>
    ))
  }
</dl>
