---
interface ScheduleItem {
  day: string;
  location: string;
  time: string;
}

interface Props {
  items: ScheduleItem[];
}

const { items } = Astro.props;
---

<dl class="space-y-4">
  {
    items.map((item) => (
      <stack>
        <dt class="text-base font-bold fg-base">{item.day}</dt>
        <dd class="m-0">
          <p class="text-base fg-muted m-0">{item.location}</p>
          <p class="text-sm fg-muted m-0">{item.time}</p>
        </dd>
      </stack>
    ))
  }
</dl>
