---
import { navlinks } from "@/lib/navigation";

const mainNav = navlinks[0]?.children || [];

const flatNav = mainNav.flatMap((parent) => [
  parent,
  ...(parent.children || []),
]);
---

<nav class="grid gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  {flatNav.map((nav) => <a href={nav.path} class="w-fit guide-card-link font-semibold">{nav.title}</a>)}
</nav>

<style>
  .guide-card-link {
    @apply no-underline transition-colors duration-150 relative;
  }

  .guide-card-link::after {
    content: "";
    @apply absolute -bottom-1px left-0 w-0 h-1px bg-brand-600 dark:bg-brand-500 transition-all duration-150;
  }

  .guide-card-link:hover::after {
    @apply w-full;
  }
</style>
