---
import SocialLink from "@/components/ui/social-link.astro";
---

<footer class="footer-bg">
  <div class="mx-2 my-2 text-center">
    <span class="footer-text">
      <p>&COPY; OMU Aikido Club All Rights Reserved.</p>
      <p>〒599-8531 大阪府堺市中区学園町1番1号 大阪公立大学合氣道部</p>
    </span>
  </div>

  <div class="terms my-3 text-center">
    <a href="/privacy-policy" class="link-brand">
      プライバシーポリシー
    </a>
    <span>&ThickSpace;</span>
    <a href="/terms-of-service" class="link-brand">
      利用規約
    </a>
  </div>

  <div class="mx-8 flex justify-between justify-items-center-safe">
    <SocialLink
      link="https://twitter.com/fudaiaiki"
      aria="旧府大合氣道部 Twitter"
      icon="twitter-logo"
      text="旧府大Twitter"
    />
    <SocialLink
      link="https://twitter.com/new_ocuaikido"
      aria="旧市大合気道サークル Twitter"
      icon="twitter-logo"
      text="旧市大Twitter"
    />
    <SocialLink
      link="https://instagram.com/hamudaiaikidoubu"
      aria="Instagram"
      icon="instagram-logo"
      text="Instagram"
    />
    <SocialLink
      link="https://github.com/omu-aikido"
      aria="GitHub"
      icon="github-logo"
      text="GitHub"
    />
  </div>
</footer>
