---
interface Props {
  link: string
  aria: string
  icon: string
  text: string
}

const { link, aria, icon, text } = Astro.props
---

<a
  href={link}
  aria-label={aria}
  class="flex items-center link-social"
>
  <span class="i-mdi:twitter" />
  <span class="ml-1 text-sm">{text}</span>
</a>
